<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.css">
    <style>
      body, html {height: 100%}

      .bgimg {
        background-image: url('https://vastphotos.com/files/uploads/photos/10588/chicago-skyline-photo-l.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
      table.center {
          margin-left:auto;
          margin-right:auto;
        }
    </style>
  </head>
  <body>
  <% if alert %>
    <div align="center" class="alert alert-danger" role="alert">
      <%= alert %>
      </div>
  <% end %>
  <% if notice %>
    <div align="center" class="alert alert-warning" role="alert">
      <%= notice %>
    </div>
  <% end %>
    <br>
    <h1 align="center">Sign up</h1>
    <hr>
    <div>
      <form align="center" action="/insert_user" method="post">
        <table style="width:50%" class="center" border-spacing="15px">
          <div class="form-group row">
            <tr>
              <td><label for="first_name_box" class="col-form-label">First Name</label></td>
              <td>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="query_first_name" id="first_name_box" placeholder="e.g. Antonio">
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="last_name_box" class="col-form-label">Last Name</label></td>
              <td>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="query_last_name" id="last_name_box" placeholder="e.g. Cruz">
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="email_box" class="col-form-label">Email</label>
                <td>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="query_email" id="email_box" placeholder="e.g. antonio@gmail.com">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="university_box" class="col-form-label">University</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="query_university" id="university_box" placeholder="e.g. Yale University">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="gender_box" class="col-form-label">Gender</label></td>
                <td>
                  <div class="col-sm-10">
                    <select type="text" class="form-control" name="query_gender" id="gender_box" placeholder="e.g. Male">
                      <option selected>Choose...</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Transgender">Transgender</option>
                      <option value="Non-binary/non-conforming">Non-binary/non-conforming</option>
                      <option value = "Prefer not to respond">Prefer not to respond</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="city_from_id_box" class="col-form-label">Current City</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="query_from_city" id="city_from_id_box" placeholder="e.g. Chicago">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="city_to_id_box" class="col-form-label">Moving to City</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="query_to_city" id="city_to_id_box" placeholder="e.g. New York City">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="movedate_box" class="col-form-label">Expected Move-in Date</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" name="query_movedate" id="movedate_box" placeholder="Choose">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="password_box" class="col-form-label">Password</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="query_password" id="password_box" placeholder="Choose a password">
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="password_confirmation_box" class="col-form-label">Password Confirmation</label></td>
                <td>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="query_password_confirmation" id="password_confirmation_box" placeholder="Confirm your password">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                </td>
              </tr>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Sign-up</button></div>
        </form>
      </body>
    </html>
